<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>My todolist</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
  </head>
  <body ng-app="todo" ng-controller="TodoCtrl">
    <ion-side-menus>

      <ion-side-menu-content>
	<ion-header-bar class="bar-dark">
          <h1 class="title">TodoList</h1>
	  <button class="button button-icon" ng-click="newList()">
            <i class="icon ion-compose"></i>
	  </button>
	</ion-header-bar>
	<ion-content>
	  <ion-list>
	    <ion-item ng-repeat="list in lists" class="item-icon-right">
	       {{ list.name }}
	       <ion-item-options>
		 <a href="#" ng-click="removeFromLists($index)" class="icon ion-close" style="color:red; font-size: 17px; text-decoration: none"></a>
	       </ion-item-options>
	    </ion-item>
	  </ion-list>
	</ion-content>
      </ion-side-menu-content>

      <script id="new-list.html" type="text/ng-template">
	<div class="modal">
	  <ion-header-bar class="bar-secondary">
	    <h1 class="title">Nouveau todo</h1>
	    <button class="button button-clear button-positive" ng-click="closeNewList()">Cancel</button>
	  </ion-header-bar>
	  <ion-content>
	    <form ng-submit="createList(todo)">
              <div class="list">
		<label class="item item-input">
		  <input type="text" placeholder="Que devez vous faire?" ng-model="todo.name">
		</label>
              </div>
              <div class="padding">
		<button type="submit" class="button button-block button-positive">Créer</button>
              </div>
	    </form>
	  </ion-content>
	</div>
      </script>
    </ion-side-menus>
  </body>
</html>
